<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      h1 {
        color: brown;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>Home page</h1>
    <h2>Welcome <%= user %></h2>
    <h5>I am a <%= role %></h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non rem eum
      neque nostrum provident illo id iste blanditiis vitae.
    </p>
  </body>
</html>
